<p>
	<label for="settings_telegram_bot_token">Telegram BOT Token</label>
	<input type="text" id="settings_telegram_bot_token" size=80 value="<%= settings['telegram_bot_token'] %>" name="settings[telegram_bot_token]" />
</p>

<p>
	Можно задать ID чата для любого проекта. Для этого в
	<a href="/custom_fields/new?type=ProjectCustomField">настраиваемых полях</a> создайте "Telegram Channel" (без кавычек) и в настройках проекта введите ID чата. Для исключения проекта из рассылки можно ввести в поле "-" (без кавычек).
</p>

<p>
	<label for="settings_priority_id_add">Приоритет для новых задач (по умолчанию 1)</label>
	<input type="text" id="settings_priority_id_add" value="<%= settings['priority_id_add'] %>" name="settings[priority_id_add]" />
</p>

<p>
	<label for="settings_priority_id_edit">Приоритет для обновленых задач (по умолчанию 1)</label>
	<input type="text" id="settings_priority_id_edit" value="<%= settings['priority_id_edit'] %>" name="settings[priority_id_edit]" />
</p>

<p>
	<label for="settings_new_include_description">Показывать описание в новой задаче</label>
	<input type="checkbox" id="settings_new_include_description" value="1" name="settings[new_include_description]" <%= settings['new_include_description'] == '1' ? 'checked="checked"' : '' %> />
</p>

<p>
	<label for="settings_post_updates">Слать уведомления об обновленных задачах</label>
	<input type="checkbox" id="settings_post_updates" value="1" name="settings[post_updates]" <%= settings['post_updates'] == '1' ? 'checked="checked"' : '' %> />
</p>

<p>
	<label for="settings_updated_include_description">Показывать описание в обновленных задачах</label>
	<input type="checkbox" id="settings_updated_include_description" value="1" name="settings[updated_include_description]" <%= settings['updated_include_description'] == '1' ? 'checked="checked"' : '' %> />
</p>
